.home-section h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
}

:root .home-section h2 {
  color: white;
}

.lightcolors .home-section h2 {
  color: #333;
}
